.idea
env
careeraware/careeraware/settings.py
careeraware/uploads
careeraware/data
careeraware/static
careeraware/to-process
dataloader/conf/config.properties
dataloader/conf/private.key
dataloader/data/*.csv
*.log
*.pot
*.pyc